[app]
TokenKey=
[http]
Port=80
ReadTimeout=10
WriteTimeout=10
#接口调用频率限制(限制ip) S秒 M分钟 H小时 D天
Throttle = 5-S

[database]
Type=mysql
Host=127.0.0.1
Port=3306
UserName=root
Password=root
Database=imagedesign
TablePrefix=
#最大连接数 <=0表示不限制连接数
MaxOpenConns=10
#最大空闲数 <=0表示不保留空闲连接
MaxIdleConns=5
#连接可重用时间 <=0表示永远可用(单位秒)
MaxLifetime=50
#控制台日志等级 Silent Error Warn Info
LogLevel=Info

[log]
#debug info warn error
Level=info
#单位:兆
MaxSize=100

